body {
    background-image: url("peace.jpg");
	font-family: Century Gothic, sans-serif;
}
#text{
	text-align:center;
	margin-bottom:75px;
}
input[type="text"]{
	border: none;
	background:rgba(255, 255, 255, 0.24);
	width:800px;
	height:50px;
	font-size: 20px;
	font-family: Century Gothic, sans-serif;

}


*::-webkit-input-placeholder {
    color: rgba(31, 45, 24, 0.45);
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(31, 45, 24, 0.45);
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(31, 45, 24, 0.45);
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(31, 45, 24, 0.45);
}
.entry{
	background:#1C3150;
	box-shadow: 10px 10px 5px grey;
	margin:20px 0px;
	color:white;
	padding:15px 0px;
}
.entry:hover{
	background:#A5A7AB;

}
#addthis{
	border: none;
	background:rgba(14, 14, 14, 0.24);
	width:80px;
	height:52px;
	font-size: 16px;
	vertical-align: top;
	font-family: Century Gothic, sans-serif;

}
#addthis:hover{
	background:rgba(0, 0, 0, 0.36);
	color:white;
	

}
#remove-btn{
	height:23px;
	width:20px;
	float: right;  	
	margin:0px 15px;
	border-style:none;
}
.completed-entry{
	margin:20px 0px;
	color:rgba(230, 226, 226, 0.84);
	padding:15px 0px;
	background:rgba(119, 87, 87, 0.55);
	box-shadow:10px 10px 5px rgba(128, 128, 128, 0);
	padding-left:15px;
}